body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#searchWidgetTrigger {
  width: 35vw; /* Increased dynamic width */
  max-width: 600px; /* Increased maximum width */
  padding: 2vw; /* Increased dynamic padding */
  font-size: 1.5vw; /* Dynamic font size */
  border: 2px solid #fff;
  border-radius: 30px;
  position: absolute;
  bottom: 5%; /* Adjust to position from the bottom */
  right: 10%; /* Adjust to position more to the left */
  background-color: transparent;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#searchWidgetTrigger::placeholder {
  color: #fff;
}

.gen-search-widget {
  display: none;
}